<?xml version="1.0"?>
<config>
    <modules>
        <Gone_Shipping>
            <version>0.1.0</version>
        </Gone_Shipping>
    </modules>
    <global>
        <models>
            <gone_shipping>
                <class>Gone_Shipping_Model</class>
            </gone_shipping>
        </models>
    </global>
    <default>
        <carriers>
            <gone>
                <active>1</active>
                <title>Gone Shipping</title>
                <name>Standard</name>
                <free_threshold>100</free_threshold>
                <weight_limit>10</weight_limit>
            </gone>
        </carriers>
    </default>
</config>
